<html ng-app="ionicApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>Page</title>

    <link href="../../../lib/ionic/css/ionic.css" rel="stylesheet">
    <script src="../../../lib/ionic/js/ionic.bundle.js"></script>
    <!--<script src="../services/appsetup.client.service.js"></script>-->

<style>
    .has-header{
        top: 64px !important;
    }
</style>
</head>
<body ng-controller="MyPageCtrl">

<!--<div class="bar bar-header bar-stable" style="height: 64px !important;">-->
    <!--<h1 class="title" style="margin-top: 20px !important;">App Page</h1>-->
<!--</div>-->
<ion-header-bar class="bar-positive" style="height: 64px !important;">
    <h1 class="title" style="margin-top: 20px !important;">App Page</h1>
</ion-header-bar>

     <!--<div ng-if="comapnyID" ng-include="CurrentAppPage"></div>-->
<ion-content style="top: 64px; !important;">
    <!--<div ng-if="comapnyID" ng-include="CurrentAppPage"></div>-->
    <!--<div id="phonedata" data-ng-bind-html="htmlcontent"></div>-->
    <div id="phonedata" dynamic="htmlcontent"></div>

</ion-content>

<ion-footer-bar class="bar bar-balanced">
    <div class="button-bar">
        <a class="button bar-balanced icon-left ion-checkmark">Submit</a>
    </div>
</ion-footer-bar>

</body>
<script>
     angular.module('ionicApp', ['ionic'])
     .directive('dynamic', function ($compile) {
         return {
             restrict: 'A',
             replace: true,
             link: function (scope, ele, attrs) {
                 scope.$watch(attrs.dynamic, function(html) {
                     ele.html(html);
                     $compile(ele.contents())(scope);
                 });
             }
         };
     })
     .controller('MyPageCtrl', ['$scope','$http','$sce','$compile', function($scope,$http,$sce,$compile) {
                $scope.htmlcontent='';
                 $scope.comapnyID = location.hash.replace(/#/, "");
                $scope.CurrentAppPage= '../../../AppFolder'+$scope.comapnyID+"/app.html";
                console.log($scope.CurrentAppPage);

                window.updatedata = function(data) {
                    $scope.$apply(function(){
                        $scope.htmlcontent = data;
                    });
                };

                $http.get('../../../AppFolder/'+$scope.comapnyID+'/app.html').then(function(response) {
                    $scope.htmlcontent = $sce.trustAsHtml(response.data);
                    console.log($scope.htmlcontent)
                });

             }]);
</script>
</html>
