<div class="filter-bar-wrapper filter-bar-positive ">
    <div class="row bar bar-header bar-stable item-input-inset">
        <!--<div class="col col-10">-->

        <!--<button class="button button-icon icon positive ion-close-circled" ng-click="showCustomType = false"></button>-->
        <!--</div>-->
        <div class="col col-50">
            <label class="item-input-wrapper" style="background: white;"><i class="icon ion-compose placeholder-icon"></i><input type="search" class="filter-bar-search ng-pristine ng-valid ng-touched" ng-model="customProduct.name" placeholder="Item Name"><button class="filter-bar-clear button button-icon icon filter-bar-element-hide" ng-class="getClearButtonClass()"></button></label>
        </div>
        <div class="col col-30">
            <label class="item-input-wrapper" style="background: white;"><i class="icon ion-funnel placeholder-icon"></i><input type="search" class="filter-bar-search ng-pristine ng-valid ng-touched" ng-model="customProduct.customQuantity" placeholder="Qty"><button class="filter-bar-clear button button-icon icon filter-bar-element-hide" ng-class="getClearButtonClass()"></button></label>
        </div>
        <div class="col col-10">
            <button class="filter-bar-cancel button button-clear" ng-click="addcustomProduct(customProduct)">Add&nbsp;</button>
        </div>
        <div class="col col-10">
            <button id="close-btn" style="font-size: 6px !important" class="button button-icon icon ion-close-round" ng-click="showCustomType = false"></button>
        </div>

    </div>

</div>