<div class="filter-bar-wrapper filter-bar-positive">
    <div class="row bar bar-header bar-stable item-input-inset">
        <div class="col col-50">
            <label class="item-input-wrapper" style="background: white;"><input type="search"
                                                                                class="filter-bar-search ng-pristine ng-valid ng-touched" ng-model=
                                                                                        "customProduct.name" placeholder="Item Name" /></label>
        </div>

        <div class="col col-30">
            <label class="item-input-wrapper" style="background: white;"><input type="search"
                                                                                class="filter-bar-search ng-pristine ng-valid ng-touched" ng-model=
                                                                                        "customProduct.customQuantity" placeholder="Qty" /></label>
        </div>

        <div class="col col-10">
            <button class="filter-bar-cancel button button-clear" ng-click=
                    "addcustomProduct(customProduct)">Add&nbsp;</button>
        </div>
    </div>
</div>

 <label class="item item-input component"><span class=
                                                                                         "input-label">Text</span> <input type="text" /></label>
<label class="item item-input item-select" data-component-id="1"> <div class="input-label">Select </div> <select> <option>Option 1</option> <option>Option 2</option> <option>Option 3</option> </select> </label><li class="item item-toggle" data-component-id="1">Toggle <label class="toggle toggle-assertive"> <input type="checkbox"> <div class="track"> <div class="handle"></div> </div> </label> </li><li class="item item-toggle" data-component-id="1">Toggle <label class="toggle toggle-assertive"> <input type="checkbox"> <div class="track"> <div class="handle"></div> </div> </label> </li>